@font-face {
  font-family: "SamsungOne";
  src: url(font/SamsungOne-400.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Samsung";
  src: url(Font/samsungsharpsans-medium.otf);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Samsung", sans-serif;
}

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  line-height: 70px;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 20px 0 0 0;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  padding: 5.5px 13px;
  margin: 0 10px 0 0;
  border-radius: 20px;
  transition: all 0.5s ease;
  font-family: "SamsungOne";
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 150px;
  padding: 8px 15px;
  color: #000;
  font-size: 15px;
  border-bottom: #000;
  cursor: pointer;

}

hr {
  color:  rgb(201, 201, 201);
}

.nav1 {
  border-bottom: 3px solid black;
}

.aboutAI {
  margin-top: -50px;
  margin-left: 100px;
  font-weight: 15px;
}

.AI1 {
  color: #007aff;
}

.AI2 {
  color:  rgb(15, 14, 14);
}

#countdown {
  display: flex;
  color: #000;
  padding: 20px;
  margin-top: -60px;
  margin-left: 900px;
}

.time-segment {
  text-align: center;
  margin: 0 10px;
}

.time-segment span {
  font-size: 1.5rem;
  /* Larger font size for the numbers */
  display: block;
}

.time-segment div {
  font-size: 1rem;
  /* Smaller font size for the labels */
}

.content h1 {
  color: #000;
  font-size: 30px;
  position: absolute;
  top: 45%;
  left: 5%;
  font-weight: bold;
}

.content h4 {
  color: #000;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  top: 52%;
  left: 5%;
  font-weight: bold;
  margin-left: 10px;
  font-family: "SamsungOne", arial, sans-serif;
}

.header-slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

hr {
  color:  rgb(201, 201, 201);
}


.header-items {
  display: flex;
  transition: transform 0.5s ease;
  width: 300%;
  /* Adjust based on content */
}

.header-items img,
.header-items video {
  width: 33.333%;
  /* Adjust based on content */
  flex-shrink: 0;
  display: block;
  /* remove gaps between inline elements */

}

.header-slider a {
  position: absolute;
  top: 20%;
  padding: 5vh 1vw;
  background:  rgb(201, 201, 201);
  color: #0000007b;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color:  rgb(201, 201, 201);
  border: none;
  color: #333;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.8;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 1;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

.dev {
  color: #000;
  font-size: 14px;
  position: absolute;
  font-family: "SamsungOne", arial, sans-serif;
  margin-top: 40px;
  margin-left: 150px;

}

.aboutdev {
  margin-left: 250px;
  width: 200px;
  /* Set the width of the box */
  padding: 20px;
  /* Padding inside the box */
  margin-top: 20px;
  border: 2px solid #007aff;
  /* Black border around the box */
  text-align: center;
  /* Center the text inside the box */
  border-radius: 3px;
  cursor: pointer;

}

hr {
  color: rgb(201, 201, 201);
  margin-top: 25px;
}


p.b1 {
  text-align: left;
  color: #000;
  /* Dark grey color for the text */
  font-size: 10px;
  /* Set font size */
  font-size: 0.8rem;
}

p.b2 {
  text-align: left;
  color: #000;
  font-size: 10px;
}

.b3 {
  color: #4e90d6;
  font-size: 10px;
  margin-left: 250px;
  margin-top: 10px;
}
hr {
  color:  rgb(201, 201, 201);
  margin-top: 25px;
}
.dev1 {
  color: #000;
  font-size: 14px;
  position: absolute;
  font-family: "SamsungOne", arial, sans-serif;
  margin-top: 110px;
  margin-left: 150px;
}
.aboutdev1 {
  margin-left: 250px;
  width: 200px;
  padding: 20px;
  margin-top: 90px;
  border: 2px solid #007aff;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;

}

p.B1 {
  text-align: left;
  color: #000;
  font-size: 10px;
  font-size: 0.8rem;
}
p.B2 {
  text-align: left;
  color: #000;
  font-size: 10px;
}
.B3 {
  color: #000;
  font-size: 10px;
  margin-left: 260px;
  margin-top: 5px;
}
.aboutdev2 {
  margin-left: 530px;
  width: 200px;
  padding: 20px;
  margin-top: -105px;
  border: 1px solid rgb(201, 201, 201);
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
p.C1 {
  text-align: left;
  color: #000;
  font-size: 10px;
  /* Set font size */
  font-size: 0.8rem;
}
p.C2 {
  text-align: left;
  color: #000;
  /* Dark grey color for the text */
  font-size: 10px;
  /* Set font size */
}

.aboutdev3 {
  margin-left: 800px;
  padding: 20px;
  /* Padding inside the box */
  width: 200px;
  /* Set the width of the box*/
  margin-top: -87px;
  border: 1px solid  rgb(201, 201, 201);
  /* Black border around the box */
  text-align: center;
  /* Center the text inside the box */
  border-radius: 3px;
  cursor: pointer;

}

p.D1 {
  text-align: left;
  color: #000;
  /* Dark grey color for the text */
  font-size: 10px;
  /* Set font size */
  font-size: 0.8rem;
}

p.D2 {
  text-align: left;
  color: #000;
  /* Dark grey color for the text */
  font-size: 10px;
  /* Set font size */
}

.D3 {
  color: #000;
  /* Dark grey color for the text */
  font-size: 10px;
  /* Set font size */
  margin-left: 810px;
  margin-top: 5px;

}

hr {
  color: rgb(201, 201, 201);
  /* margin-top: 25px; */
}

.dev4 {
  color:#000;
  font-size: 14px;
  position: absolute;
  font-family: "SamsungOne", arial, sans-serif;
  margin-top: 30px;
  margin-left: 150px;

}

.pic1 {
  margin-left: 150px;
}
 .main-box {
  width: 30%;
  margin: 20px auto;
  border: 1px solid  rgb(201, 201, 201);
  padding: 10px;
  display: flex;
  margin-top: 30px;
  margin-left: 800px;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
}

.text-container {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.images-container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: flex-start; Aligns items at the top of each container */
 }

.image-container {
  width: 30%;
  border: 1px solid rgb(201, 201, 201);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
   transition: border 0.3s ease; 
   border-radius: 3px;
   gap: 5px;
  cursor: pointer;

}

.des{
    margin-top: 2px;
    text-align: center;
    font-size: 12px; 
    color: #1f1d1d;
    padding-top: 5px;
}
#highlighted {
  border: 1px solid #007bff;
}
.image-container img {
  width: 100%;
  height: auto;
}
.image-container:hover {
  border: 2px solid #007bff; 
}
.dev5{
  color:#000;
  font-size: 14px;
  position: absolute;
  font-family: "SamsungOne", arial, sans-serif;
  margin-top: 150px;
  margin-left: 150px;
}
.delivery {
    margin-left: 350px;
    width: 700px;
    height: auto;
    /* Set the width of the box */
    padding: 20px;
    /* Padding inside the box */
    margin-top: 160px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 3px;
    cursor: pointer;

 }
  

 .delivery #searchInput {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #000;
  border: 1px solid  rgb(201, 201, 201);
  border-radius: 3px;
  margin-left: -8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.delivery #searchInput:focus {
  border: 2px dashed black;
  outline: none;
}

.delivery #searchResults {
  margin-top: 10px;
  padding: 10px;
  color: rgb(36, 34, 34);
  border-radius: 3px;
}
.delivery p{
  margin-left: 2px;
  margin-top: -34px;
  color: rgb(36, 34, 34);
  font-size:12px;
}
.dev6{
  color:#000;
  font-size: 12px;
  position: absolute;
  font-family: "SamsungOne", arial, sans-serif;
  margin-left: 150px;
  margin-top: 60px;

}
.details {
  margin-left: 250px;
  margin-top: -20px;
  font-size: 13px;
  color: rgb(66, 63, 63);
}
.aboutdev4 {
  margin-left: 370px;
  padding: 10px;
  /* Padding inside the box */
  width: 300px;
  /* Set the width of the box*/
  margin-top: 80px;
  border: 1px solid  rgb(201, 201, 201);
  /* Black border around the box */
  text-align: center;
  /* Center the text inside the box */
  border-radius: 3px;
  cursor: pointer;

}
.aboutdev4 .B41 {
  text-align: left;
  margin-top: 5px;
  color: #000;
  /* Dark grey color for the text */
  font-size: 11px;
}
.aboutdev4 .B42 {
  text-align: right;
  color:  #585757;
  margin-top: -14px;

  /* Dark grey color for the text */
  font-size: 9px;
  /* Set font size */
}

.aboutdev4 .B43{
  text-align: right;
  color: #007bff;
  margin-top: 2px;
  /* Dark grey color for the text */
  font-size: 10px;
  /* Set font size */
}
.aboutdev5 {
    margin-left: 720px;
    padding: 15px;
    width: 300px;
    margin-top: -50px;
    border: 1px solid rgb(201, 201, 201);
    text-align: center;
    border-radius: 3px;
    cursor: pointer;

}
.aboutdev5 .B44{
  text-align: left;
  margin-top: 5px;
  color: #1a1717;
  /* Dark grey color for the text */
  font-size: 11px;
}
.aboutdev4:focus{
  outline: 2px dashed black;
}
.aboutdev5:hover {
  border: 2px solid #007bff;
}
hr{
 color:  rgb(201, 201, 201);
}
.dev7{
  color:#000;
  font-size: 12px;
  position: absolute;
  font-family: "SamsungOne", arial, sans-serif;
  margin-left: 150px;
  margin-top: 50px;
}
.details1 {
  margin-left: 250px;
  margin-top: -18px;
  font-size: 12px;
  color: rgb(36, 34, 34);
}
.details2 {
  margin-left: 1000px;
  margin-top: -20px;
  font-size: 13px;
  color: rgb(36, 34, 34);
  border-bottom: 2px solid black;
}
.details3 {
  margin-left: 270px;
  margin-top: 30px;
  font-size: 13px;
  color: rgb(36, 34, 34);
}
.aboutdev6 {
  margin-left: 370px;
  width: 260px;
  /* Set the width of the box */
  padding: 25px;
  /* Padding inside the box */
  margin-top: 120px;
  border: 1px solid   rgb(201, 201, 201);
  /* Black border around the box */
  text-align: center;
  /* Center the text inside the box */
  border-radius: 3px;
  cursor: pointer;
}
p.six1 {
  text-align: left;
  color: #000;
  font-size: 0.7rem;
}
p.six2 {
  text-align: left;
  color: #3b3838;
  font-size: 10px;
}
p.six3 {
  text-align: left;
  color: #3b3838;
  font-size: 10px;
}
.aboutdev7 {
  margin-left: 700px;
  width: 200px;
  padding: 32px;
  margin-top: -105px;
  border: 1px solid   rgb(201, 201, 201);  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
p.seven1 {
  text-align: left;
  color: #000;
  font-size: 0.7rem;
}
p.seven2 {
  text-align: left;
  color: #3b3838;
  font-size: 10px;
}
p.seven3 {
  text-align: left;
  color: #3b3838;
  font-size: 10px;
}

.aboutdev8 {
  margin-left: 990px;
  padding: 25px;
  /* Padding inside the box */
  width: 200px;
  /* Set the width of the box*/
  margin-top: -105px;
  border: 1px solid   rgb(201, 201, 201);  /* Black border around the box */
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
p.eight1 {
  text-align: left;
  color: #000;
  font-size: 0.7rem;
}
p.eight2 {
  text-align: left;
  color: #3b3838;
  font-size: 10px;
}
p.eight3 {
  text-align: left;
  color: #3b3838;
  font-size: 10px;
}
.aboutdev9 {
  margin-left: 370px;
  width: 260px;
  /* Set the width of the box */
  padding: 25px;
  /* Padding inside the box */
  margin-top: 12px;
  border: 1px solid   rgb(201, 201, 201);
  /* Black border around the box */
  text-align: center;
  /* Center the text inside the box */
  border-radius: 3px;
  cursor: pointer;
}
p.nine1 {
  text-align: left;
  color: #000;
  font-size: 0.7rem;
}
p.nine2 {
  text-align: left;
  color: #3b3838;
  font-size: 10px;
}
p.nine3 {
  text-align: left;
  color: #3b3838;
  font-size: 10px;
}
.aboutdev10 {
  margin-left: 700px;
  width: 200px;
  padding: 38px;
  margin-top: -90px;
  border: 1px solid   rgb(201, 201, 201);  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
p.ten1 {
  text-align: left;
  justify-content: center;
  color: #3b3838;
  font-size: 0.8rem;
}
.dev8 {
  color: #000;
  font-size: 14px;
  position: absolute;
  font-family: "SamsungOne", arial, sans-serif;
  margin-top: 20px;
  margin-left: 150px;

}
